* {
  font-family: fakir-new, sans-serif;
}

body {
  background-image: url(../Images/diablo4-background-start.webp);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

#mute-img {
  cursor: pointer;
}

.logo {
  width: 25px;
}

#start-section {
  background-image: url(../Images/wood-texture-1.jpg);
  width: 100%;
  padding: 10% 0;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  box-shadow: 0px 14px 40px 10px rgba(0,0,0,1);
}

#start-section p {
  width: 70%;
  color: white;
  font-size: larger;
  text-shadow: -3px 3px 5px rgba(150, 150, 150, 1);
}

strong {
  font-size: 1.4em;
  font-weight: 500;
}

#start-section a {
  text-decoration: none;
  color: black;
  background-image: linear-gradient(goldenrod,#A2760A);
  text-shadow: -3px 3px 5px rgba(150, 150, 150, 1);
  border: 3px solid #6e5108;
  border-radius: 0px 18px 0px 18px;
  padding: 0 10px 3px 10px;
  font-size: 3em;
  box-shadow: -9px 13px 23px -5px rgba(0,0,0,0.75);
  opacity: 0.9;
  transition: all ease 0.15s;
}

#start-section a:hover {
  opacity: 1;
}

#start-section a:active {
  top: 1px;
  position: relative;
}

#bottom-bar {
 color: white;
 width: 100%;
 font-size: x-large;
 font-weight: 400;
 display: flex;
 flex-direction: row;
 justify-content: space-between;
}

#links {
  width: 50%;
  text-align: right;
}

#title {
  font-size: 5em;
  /* 3D effect i found online */
  text-shadow: 1px 1px 1px #A2760A,
        1px 2px 1px #A2760A,
        1px 3px 1px #A2760A,
        1px 4px 1px #A2760A,
        1px 5px 1px #A2760A,
        1px 6px 1px #A2760A,
        1px 7px 1px #A2760A,
        1px 8px 1px #A2760A,
        1px 9px 1px #A2760A,
        1px 10px 1px #A2760A,
    1px 18px 6px rgba(16,16,16,0.4),
    1px 22px 10px rgba(16,16,16,0.2),
    1px 25px 35px rgba(16,16,16,0.2),
    1px 30px 60px rgba(16,16,16,0.4);
  color:goldenrod
}