* {
  font-family: fakir-new, sans-serif;
}

body {
  background-image: url("../Images/green-background.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

#sfx {
  font-size: 30px;
  font-weight: 700;
  color:white;
  cursor: pointer;
}

#resurrect-notify {
  color:white;
  position: absolute;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -50%);
  font-size: 48px;
  visibility: hidden;
}

#version {
  color:white;
  position: absolute;
  right: 1%;
  top: 1%;
  font-size: 16px;
}

#top-bar {
  align-items:center;
  width:350px;
  display:flex;
  justify-content: space-evenly;
}

#mute-img {
  cursor: pointer;
  height: 38px;
}

#stages {
  position: absolute;
  left: 50%;
  top: 1%;
  color: white;
  transform: translate(-50%, -50%);
  font-size: 52px;
  visibility: hidden;
}

#monster-stats-container {
  background-image: url(../Images/wood-texture-1.jpg);
  border: 10px solid red;
  box-shadow: 0px 14px 40px 10px rgba(0,0,0,1);
  border: 2px solid silver;
  font-size: 18px;
  text-align: center;
  color:white;
  position: absolute;
  left: 73%;
  top: 77%;
  bottom: 80%;
  width:12%;
  height: fit-content;
  visibility: hidden;
}

#monster-stats {
  margin:auto;
}

#monster-stats strong{
  font-weight: 400;
  font-size:20px;
  text-decoration: underline;
}

#hero-stats-container {
  background-image: url(../Images/wood-texture-1.jpg);
  box-shadow: 0px 14px 40px 10px rgba(0,0,0,1);
  border: 2px solid silver;
  font-size: 18px;
  text-align: center;
  color:white;
  position: absolute;
  left: 16%;
  top: 77%;
  bottom: 80%;
  width:12%;
  height: fit-content;
  visibility: hidden;
}

#hero-stats {
  margin: auto;
}

#hero-stats strong{
  font-weight: 400;
  font-size:20px;
  text-decoration: underline;
}

#end-game {
  background-image: url(../Images/wood-texture-1.jpg);
  box-shadow: 0px 14px 40px 10px rgba(0,0,0,1);
  color: whitesmoke;
  text-shadow: -3px 3px 5px rgba(150, 150, 150, 1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  height: 500px;
  position: absolute;
  left: 50%;
  top: 30%;
  transform: translate(-50%, -50%);
  text-align: center;
  visibility: hidden;
}

#end-game h1 {
  font-size: 60px;
}

#end-game h2 {
  font-size: 40px;
}

#end-game p {
  font-size: 20px;
}

#item-choice {
  width: 80%;
  position: absolute;
  left: 50%;
  top: 30%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  z-index: 1;
  font-size: 24px;
  font-weight: 700;
  color: white;
}

.item-btn {
  width: 25%;
  background-image: url("../Images/stone-bg.jpg");
  border: 5px inset #241d13;
  cursor: pointer;
  font-size: 18px;
  padding: 9px 23px;
  text-decoration: none;
  text-shadow: 0px -1px 0px #7a2a1d;
}

.item-btn:hover {
  background-color: #b34332;
}

.item-btn:active {
  position: relative;
  top: 1px;
}

.top-btn {
  box-shadow: inset 0px 1px 0px 0px #a6827e;
  background: linear-gradient(to bottom, #7d5d3b 5%, #634b30 100%);
  background-color: #7d5d3b;
  border-radius: 3px;
  border: 1px solid #54381e;
  cursor: pointer;
  color: #ffffff;
  font-size: 16px;
  padding: 6px 24px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #4d3534;
}

.top-btn:hover {
  background: linear-gradient(to bottom, #634b30 5%, #7d5d3b 100%);
  background-color: #634b30;
}

.top-btn:active {
  position: relative;
  top: 1px;
}

#rogue {
  background-image: url(../Images/rogue.jpg);
  background-size: cover;
}

#warrior {
  background-image: url(../Images/warrior.jpg);
  background-size: cover;
}

#tank {
  background-image: url(../Images/tank.jpg);
  background-size: cover;
}

.stats {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 10%;
  color: white;
  font-size: 28px;
}

.stats p {
  font-size: 32px;
}

#roles {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 50%;
  width: 70%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.role-container {
  cursor: pointer;
  border: 2px solid black;
  box-shadow: 0px 15px 20px 0px rgba(0, 0, 0, 1);
  width: 30%;
  height: 95%;
  display: flex;
  transition: all ease 0.1s;
}

.role-container:hover {
  border: 3px solid silver;
}

.role-container:active {
  position: relative;
  top: 2px;
}

#canvas {
  width: 80%;
  position: absolute;
  left: 50%;
  top: 60%;
  transform: translate(-50%, -50%);
}

#atk-btn {
  outline-style: none;
  cursor: pointer;
  border: 5px ridge white;
  border-radius: 15px;
  padding: 10px;
  font-size: large;
  font-weight: 700;
  background-color: rgba(203, 46, 46, 1);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0px 5px 10px black;
  transition: all ease 0.1s;
  z-index: 1;
}

#atk-btn:active {
  box-shadow: 2px 2px 2px black;
  top: 50.5%;
}